/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Manrope:wght@200;300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;700;800;900&family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('./styles/styles.css');

body {
  margin: 0;
  font-family: "Manrope", sans-serif !important;
}

.dot-bg {
  /* diameter of the circle */
  --d: 2px; 
  
  background : radial-gradient(
    circle at 
       var(--d) 
       var(--d), 
       
    #dddddd calc(var(--d) - 1px), 
    #0000 var(--d)
  ) 
  0 0 / 20px 20px;
}

pre{
  font-family: "Manrope", sans-serif !important;
}

code {
  font-family: "Manrope", sans-serif !important;
}
